@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4 {
  font-family: 'Poppins';
}

body {
  background-color: #DCDEDA;
}

main {
  background-color: #DCDEDA;
  max-width: 1440px;
  margin: auto;
}

header {
  height: 140px;
  background: rgba(0, 100, 98, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  z-index: 10;
}

.logo {
  width: 360px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navlinks {
  color: #EDF2FB;
  font-family: 'Poppins';
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px;
  color: #EDF2FB;
}

nav li {
  margin-left: 40px;
}

.heroImage {
  height: 756px;
  width: 1440px;
  background-image: url(../../images/herobannerImg.jpg);
  background-position: center;
  background-size: cover;
}

.heroImage_textBox {
  width: 50%;
  padding: 60px 0px 0px 60px;
}

.heroImage_h1 {
  line-height: 125px;
  color: #EDF2FB;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 96px;
  text-transform: uppercase;
}

.heroImage_searchBar {
  padding: 60px;
}

.formContainer {
  padding: 30px 0px 0px 60px;
}

.datePicker {
  width: 300px;
}

.datePicker input {
  height: 60px;
  border-radius: 10px;
}

.recommend_wrapper {
  width: 65%;
  padding: 48px 0px 48px 54px;
}

.recommend_heading {
  font-size: 48px;
  font-weight: 700;
  color: #212529;
}

.homeCards {
  border-radius: 5px;
  width: 430px;
  height: 400px;
  background-color: #EDF2FB;
  margin-bottom: 96px;
}

.homeCards_img {
  border-radius: 5px 5px 0px 0px;
}

.homeCards_textBox {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homeCards_title {
  font-weight: 700;
  font-size: 24px;
}

.homeCards_price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.homeCards_price span {
  font-size: 14px;
  color: #94979D;
  font-weight: 500;
}

.homeCards_adresse {
  font-size: 16px;
}

.homeCards_box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}

.homeCards_box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cardBtn {
  height: 50px;
  width: 115px;
  background-color: #F5B452;
  color: #212529;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Poppins', Courier, monospace;
}

.homeInfo_wrapper {
  margin: auto;
  width: 1280px;
  height: 765px;
  background-color: #EDF2FB;
  border-radius: 20px;
}

.homeInfo_heading {
  text-align: center;
  color: #212529;
}

.homeInfo_heading h2 {
  padding-top: 100px;
  font-size: 64px;
  font-weight: 600;
}

.iconBox {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: #DCDEDA;
}

.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  background-color: #006462;
}

.footer_heading {
  font-family: 'Bebas Neue', cursive;
  font-size: 48px;
  color: #EDF2FB;
}
/*# sourceMappingURL=styles.css.map */