
.contact_wrapper{
    width: 80%;
    margin: 80px auto;
    display: flex;
    justify-content: center;

}



.contact_ImgContainer{
    width: 50%;
    position: relative;
    background-color: $green;

    & h1{
        color: $white;
        font-size: $headingLarge;
        text-transform: uppercase;
        font-family: 'Poppins';
        font-weight: 700;
        text-align: center;
        padding: 30px;
    }
}


.contact_headingBox{
    text-align: center;

    & h1{
        font-size: 1.5rem;
        font-weight: 700;
    }

    & h2{
        color: $text-color;
        font-weight: 700;
        font-size: $headingSmallText;
    }
    & h3{
        font-weight: 600;
        color: $background_color;
        font-size: 1.5rem;
    }
}

.contact_formContainer{
    background-color: $white;
    padding: 40px;

   
}

.contactForm{
    display: flex;
    width:100%;
    flex-direction: column;
}

.inputField
{
    height: 60px;
    width:100%;
    background-color: $background_color;
    border-radius: 2px;
    padding: 10px;
    margin-top:20px;
}

.textareaInput{
    height: 200px;
    padding: 10px;
    width:100%;
    background-color: $background_color;
    border-radius: 2px;
    margin-top:20px;
}

.contactBtn{
    font-weight: 600;
    font-size: 1.225rem;
    font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
    height: 50px;
    width: 120px;
    margin-top: 20px;
    background-color: $primary-button;
    border-radius: 5px;
}


@media only screen and (max-width: 1120px) {
 
    .contact_wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .contact_ImgContainer{
        width: 100%;
        & h1{
            font-size: $h3TextSize;
        }
    }
}

@media only screen and (max-width: 660px) {
.contact_wrapper{
    width: 90%;
}
.contact_formContainer {
    padding: 10px;
}
}
