.navBarHero{
    height: 120px;
    background: rgba(0, 100, 98, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 10;
}

.navBarLinks{
    color: $white;
}

.active {
    position: relative;

    &::after{
        border-radius: 10px;
        content:'';
        bottom: -2px;
        left: 10%;
        position: absolute;
        width: 80%;
        border-top: solid 3px $white;
    }
}


.Header {
    background-color: $green;
    
    &__Nav a {
    font-family: 'Poppins', Courier, monospace;
    font-weight: 700;
    margin-left: 30px;
    font-size:1.125rem;
    letter-spacing: 1px;
  
      
    }
}
