.navBarHero{
    height: 140px;
    background: rgba(0, 100, 98, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 10;
}
.logo{
    width: 360px;
}
nav {
	display: flex;
	justify-content: flex-end;
}

.active {
    position: relative;

    &::after{
        border-radius: 10px;
        content:'';
        bottom: -2px;
        left: 10%;
        position: absolute;
        width: 80%;
        border-top: solid 3px $white;
    }
}
.navlinks{
    color: $white;
    font-family: 'Poppins';
    font-size: 1.35rem;
    // text-transform:uppercase;
    font-weight: 600;
}

nav ul {
	display: flex;
	text-decoration: none;
	list-style: none;
    align-items: flex-end;
    padding: 10px;
    color: $white;
}

nav li {

    margin-left:40px;

	
}

//Regular Header

.navBar{
    height: 140px;
    background:$green;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 10;
}