.heroImage{
    height: 756px;
    background-image: url(../../images/herobannerImg.jpg);
    background-position: center;
    background-size: cover;

    &_textBox{
        max-width: 800px;
        padding:60px 0px 0px 60px;
    }

    &_h1{
        line-height: 125px;
        color: $white ;
        font-family: 'Poppins';
        font-weight:700;
        font-size: $heroText;
        text-transform: uppercase;
        @media only screen and (max-width: 990px) {
          font-size: 5rem;
          max-width: 600px;
        }
        @media only screen and (max-width: 680px) {
            font-size: 3.250rem;
            max-width: 400px;

        }
    }

    &_searchBar{
        padding: 60px;
    }
}       

.formContainer {
    padding:30px 0px 0px 60px;
}

.datePicker{

    width: 300px;

    & input {
        height: 60px;
        border-radius: 10px;
    }
}



