.heroImage{
    height: 756px;
    width:1440px;
    background-image: url(../../images/herobannerImg.jpg);
    background-position: center;
    background-size: cover;

    &_textBox{
        width: 50%;
        padding:60px;
    }

    &_h1{
        line-height: 125px;
        color: $white ;
        font-family: 'Poppins';
        font-weight:700;
        font-size: $heroText;
        text-transform: uppercase
    }

    &_searchBar{
        padding: 60px;
    }
}       

.formContainer {
    padding:60px;
}


