.hotelsWrapper{
    width: 95%;
    margin: auto;

}

.hotelsHeading{
    margin: 40px auto 20px;
    width: 95%;
    
    &_h3{
        font-size: $h3TextSize;
        font-weight: 700;
        color: $text-color;
    }
}

.searchInput_wrapper{
    display: flex;
    width: 95%;
    margin: auto;
}

.searchInput_container{
    & input{
        margin-right: 10px;
        min-height: 60px;
        border-radius:5px ;
        padding: 10px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size:1.125rem;
        color: #94979D;
    
    }
    & select{
        min-width: 120px;
        min-height: 60px;
        border-radius:5px ;
        padding:10px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size:1.125rem;
        color: #94979D;
        margin-bottom: 10px;
    }
}
// .css-1s2u09g-control{
//     height: 60px;
//     border: none !important;
 
// }

// .typeAhead{
//     width: 100% !important;
//     min-width: 220px !important;
// }
// .css-6j8wv5-Input{
//     margin:0 !important;
//     padding-top:0 !important;
//     padding-bottom: 0 !important;
// }



.searchBtn{
    height: 60px;
    width:120px;
    border-radius: 5px;
    background-color: $primary-button;
    color: $text-color;
    font-size:1.25rem;
    font-weight: bold;
    font-family: 'Poppins', Courier, monospace;
}

.hotelCards_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    width: 95%;
    margin: 80px auto 80px auto;
 
}

.hotelCard {
    background-color: $white;
    width:430px;
    border-radius: 5px;
    &_img{
        border-radius:5px  5px 0 0;
    }

    &_textBox{
        padding: 10px;
        display: flex;
        justify-content: space-between;

    }

    &_title{
        font-weight: 700;
        font-size:1.5rem;
  
    }

    &_price{
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 5px;
        & span{
            font-size: $smallText;
            color: #94979D;
            font-weight: 500;
        }
    }

    &_rating {
        display: flex;

    }

    &_adress{
        font-size: $smallText;
    }

    &_box1{
        display: flex;
        flex-direction: column;
        row-gap: 5px;

    }
    &_box2{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between
       
    }
}

.ratingIcon{
   color: $primary-button;
   font-size: 1.25rem;
   margin-top: -1px;
   margin-left: 5px;
}


@media only screen and (max-width: 1416px) {
    .searchInput_wrapper{
            display: flex;
            justify-content: center;
    }

    .hotelsHeading{
        width: 66%;
        margin: auto;
    }

  

}
@media only screen and (max-width: 990px) {

    .hotelCards_wrapper{
        margin: 36px auto;
    }
    .hotelsWrapper{
        width: 90%;
        margin: auto;
    }
    .searchInput_wrapper{
        width: 60%;
        display: flex;
        flex-direction: column;   
    }

    .typeAhead{
        margin-bottom:10px;
    }

    .searchInput_container{
      
        & input{
            width: 100%;
            margin-bottom: 10px;
        }
     
    }
   

    .hotelsHeading{
        margin-top: 20px;
        &_h3{
            font-size:$headingSmallText;
            font-weight: 700;
            color: $text-color;
        }
    }


    
    .hotelsWrapper{
        width: 70%;
    }
}
@media only screen and (max-width: 843px) {

    .heroBanner_wrapper{
        display: none;
    }
    .hotelCards_wrapper{
        margin: 24px auto;
    }
    .hotelsWrapper{

        margin: auto;
    
    }
    .input_container{

        & input{
        width: 100%;
    
    
        }
     
    }

    .hotelsHeading{
        &_h3{
            font-size:2rem;  
        }
    }
    .searchBar_container{
        display: flex;
        flex-direction: column;    
    }
}

@media only screen and (max-width: 643px) {
    .searchBar_container{
      width: 90%;  
    }
}