
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

a{
    text-decoration: none;
    font-family: 'Poppins';
}

p,h1,h2,h3,h4{ 
    font-family: 'Poppins';
}

body{
    background-color:$background_color;
}

main{
    background-color:$background_color;
    margin: auto;
    max-width: 1440px;

}

