.modal_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(19, 21, 21, 0.66);
    height: 100%;
    width: 100%;
    z-index: 5;
    
}
  .modal {
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 80%;
    height: 80vh;
    overflow-y: scroll;
    background:$white;
    z-index: 99;
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    display: flex;
    @media only screen and (max-width: 860px) {
    flex-direction: column;
  }

    &_boxLeft{
        background-color: $green;
        width: 60%;
        border-radius: 10px 0 0 10px;
        @media only screen and (max-width: 860px) {
        width: 100%;
        border-radius: 0 0 0 0;
      }
    }

    &_boxRight{
      width: 40%;
      border-radius: 10px 0 0 10px;
      @media only screen and (max-width: 860px) {
        width: 100%;
        border-radius: 0 0 0 0;
      }
  }

    &__close-btn {
        cursor: pointer;
        transition: all 0.25s ease;
        position: absolute;
        right: 0;
        top: 0;
        align-self: flex-end;
        margin-top: -1px;
        margin-right: -1px;
      } 

  }

  .thankuWrapper{
    width: 90%;
    margin: auto;
    @media only screen and (max-width: 860px) {
      margin:20px auto;
    }


    &_box1{
      display: flex;
      @media only screen and (max-width: 760px) {
        flex-direction: column;
       }   @media only screen and (max-width: 760px) {
        flex-direction: column;
       }
    }
    &_container{
      display: flex;
      flex-direction: column;
      background: rgba(237, 242, 251, 0.8);
      border-radius: 2px;
      padding: 15px;
      @media only screen and (max-width: 760px) {
       flex-direction: column;
      }
  
    }
    &_heading{
      margin-top: 64px;
      font-size:1.85rem;
      font-weight: 700;
      margin-bottom: 24px;
    }


    &_ImageWrapper{
      margin-right: 15px;
      @media only screen and (max-width: 760px) {
        margin: auto;
       }
    }

    &_priceWrapper{
      & p{
        font-weight: 700;
        font-size:$mediumText;
      }
    }

    &_bonusWrapper{
      display: flex;
      align-items: center;
      font-weight: 600;
      font-family: 'Poppins', Courier, monospace;
      @media only screen and (max-width: 760px) {
        font-size: $smallText;
       }
      &_circle{ 
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 25px;
        background-color:$white;
        border-radius: 50%;
        margin-right: 5px;
        &_icon{
          font-size:.925rem;
          
        }
      }
    }

    &_infoWrapper{
    

      &_dates{
        margin:15px 0;
        display: flex;
        & p {
          margin-right: 10px;
          font-weight: 600;
        }
      }
      & h2{
        font-weight: 600;
        font-size:$cardtitle;
      }
    }
  }


  .payment{
    &_heading{
      color: $text-color;
      font-size: 2.2rem;
      font-weight: bold;
      margin-bottom: 24px;
    }
  }

  .paymentForm{

  & label{
    padding-bottom: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: $text-color;
  }
  }

  .paymentBtn{
    height: 50px;
    background-color: $primary-button;
    font-family: 'Poppins', Courier, monospace;
    font-weight: 700;
    font-size: 1.225rem;
    color: $text-color;
  }

  .paymentInputField{
    height: 50px;
    padding: 10px;
    font-size: .975rem;
    text-transform: uppercase;
    background-color: $background_color;
    border-radius: 2px;
    margin-bottom: 15px;
    
    &_code{
      height: 50px;
      padding: 10px;
      background-color: $background_color;
      border-radius: 2px;
      margin-bottom: 15px;
      font-size: .975rem;
      width: 90%;
    }
  }
  

  .payment_wrapper{
    width: 95%;
    margin:64px auto;
    @media only screen and (max-width: 860px) {
      width: 90%;
      margin:48px auto;
    }
  }



.paymentForm{
  display:flex;
  flex-direction: column;

  &_codebox{
    display: flex;
    justify-content:flex-start;

    & label{
      font-weight: 600;
      display: block;
    }
  }
}