//COLORS
$background_color: #DCDEDA;
$green:#006462;
$text-color:#212529;
$primary-button: #F5B452;
$white:#EDF2FB;


//TEXT 
$heroText: 6rem;
$h2TextSize: 4rem;
$h3TextSize: 3rem;
$cardtitle:1.5rem;


//TEXT-SIZE
$smallText:0.875rem;
$normallText:1rem;
$mediumText:1.35rem;
$largText:1.5rem;
$headingSmallText:3rem;
$headingMedium:4rem;
$headingLarge:6rem;


//BUTTONS

:root {
    --bounce: translateY(-1px);
    --transition: 0.1s;
    --bgcolor: #F49402;
  }


