//COLORS
$background_color: #DCDEDA;
$green:#006462;
$text-color:#212529;
$primary-button: #F5B452;
$white:#EDF2FB;


//TEXT 

$heroText: 96px;
$h2TextSize: 64px;
$h3TextSize: 48px;
$cardtitle:24px


//BUTTONS




